<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>
    

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.CoNet"
        tools:targetApi="31"
        android:requestLegacyExternalStorage="true">

        <activity
            android:name=".UI.History.NonResigestedActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".UI.User.WithdrawDoneActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".UI.User.NoticeActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".UI.GroupMain.GroupMainActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".UI.Plan.DetailEditFixActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>

        <activity
            android:name=".UI.ConetMainActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".UI.User.NameChangeActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".UI.User.InfoActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".UI.User.CheckActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".UI.JoinMemberShip.JoinMembershipActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".UI.Plan.DetailPastActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".UI.Plan.DetailFixActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".UI.Group.GroupPlusActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>

        <activity
            android:name=".UI.Plan.DetailEditPastActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".UI.Plan.CreatePlanActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".UI.Plan.EditPlanActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".UI.Plan.PlanTimeActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".UI.Plan.TimeInputActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".UI.History.HistoryMainActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>

        <activity
            android:name=".UI.History.RegistHistoryActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />
        <activity android:name=".UI.Login.LoginActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".UI.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- 카카오 로그인, 인가코드를 받기 위한 액티비티 -->
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="oauth"
                    android:scheme="kakaoca80d7d552460493e7e06a29b6eafb06" />
            </intent-filter>
        </activity>

    </application>

</manifest>