<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.CoNet"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".UI.Plan.detail.PlanListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.User.WithdrawDoneActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.User.NoticeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.GroupMain.GroupMainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.Plan.detail.DetailEditFixActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".UI.ConetMainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.User.NameChangeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.User.InfoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.User.InquiryActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.JoinMemberShip.JoinMembershipActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <!--<activity
            android:name=".UI.Plan.delete.DetailPastActivity"
            android:exported="false"
            android:screenOrientation="portrait" />-->
        <activity
            android:name=".UI.Plan.detail.DetailFixActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.Group.GroupPlusActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.Plan.CreatePlanActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.Plan.EditPlanActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.Plan.PlanTimeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.Plan.TimeInputActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.Plan.FixPlanConfirmActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="${kakaoSDKAppkey}" />

        <activity
            android:name=".UI.Login.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 카카오 로그인, 인가코드를 받기 위한 액티비티 -->
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="oauth"
                    android:scheme="kakaoca80d7d552460493e7e06a29b6eafb06" />
            </intent-filter>
        </activity>

    </application>

</manifest>